@import "config";
@import "utils";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: $light-color;
}
header {
  @include set-background($secondary-color);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100vw;
}
#menu_icon {
  display: none;
  font-size: 1.64rem;
}
#menu_icon:hover {
  cursor: pointer;
}
.nav-links {
  display: flex;
  ul {
    display: flex;
    list-style: none;
  }
  li {
    margin-right: 15px;
    text-transform: capitalize;
    font-size: 17px;
    a:hover {
      color: $nav-color;
      font-weight: 900;
    }
  }
}
a {
  text-decoration: none;
  color: inherit;
}
.pictures {
  width: 1280px;
  height: 500px;
  overflow: hidden;

  figure {
    width: 500%;
    height: 100%;
    position: relative;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
  }

  img {
    width: 20%;
    height: 100%;
    object-fit: cover;
    float: left;
  }

  @keyframes slider {
    0% {
      left: 0;
    }

    20% {
      left: 0;
    }

    25% {
      left: -100%;
    }

    45% {
      left: -100%;
    }

    50% {
      left: -200%;
    }

    70% {
      left: -200%;
    }

    75% {
      left: -300%;
    }

    95% {
      left: -300%;
    }

    100% {
      left: -400%;
    }
  }
}

// home page(learn-more section)
.cards {
  display: flex;
  &-1,
  &-2,
  &-3 {
    width: 40%;
    height: 500px;
  }
  &-header,
  &-header-2 {
    @include set-background($secondary-color);
    text-align: center;
    padding: 25px;
  }
  &-header-2 {
    background-color: darken($secondary-color, 5%);
  }

  &-img {
    width: 100%;
    height: 250px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    padding: 20px 15px;
    line-height: 1.3;
    font-size: 17px;
  }
  a {
    padding: 0 15px;
  }
  a:hover {
    cursor: pointer;
    color: #6495ed;
  }
}
// home page(feature-story section)
.feature-story {
  width: 90%;
  font-size: 20px;
  &:hover {
    background-color: lighten($secondary-color, 30%);
  }
  p {
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 2px solid $nav-color;
  }
  .feature-img {
    margin: 30px 200px;
    height: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
// Home page (Upcoming event section)
#upcoming-events {
  margin: 5rem 2rem 2rem;
  padding-bottom: 3rem;
  border-bottom: 2px double;
  h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    color: $nav-color;
  }
}
.upcoming-events {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;

  div {
    border: 1px solid;
    width: 60%;
    padding: 1rem;
    margin: 2px;
    p {
      margin-top: 1rem;
    }
    h2 {
      color: #000;
    }
  }
}

// Home page (Our mission section)
#mission {
  position: relative;
  .mission-img {
    height: 45rem;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .mission {
    position: absolute;
    top: 0rem;
    height: 100%;
    text-align: center;
    color: $primary-color;
    font-size: 25px;
    background-color: $secondary-color;
    opacity: 0.7;
    h3 {
      text-transform: uppercase;
      margin: 10rem;
    }
    p {
      padding: 2rem;
    }
  }
}
#gallery {
  margin: 5rem 0;
  .gallery {
    display: flex;
    height: 32rem;
    .gallery-img {
      width: 40%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

// Home page (history, fact and vision)

#hist-fact {
  margin: 0 2rem;
  .hist-fact {
    display: flex;
    justify-content: space-between;
    h2 {
      color: $secondary-color;
      font-size: 30px;
      text-transform: capitalize;
    }
  }
  .hist,
  .facts,
  .vision {
    margin: 1rem;
    p {
      margin: 1rem 0;
      line-height: 1.3;
    }
  }
}

footer {
  background: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 3rem 2rem;
  line-height: 1.4;
  font-weight: 500;
  font-size: 18px;

  .text-block {
    width: 33%;
    h2 {
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
    p {
      font-size: 17px;
    }
  }
  .moto {
    width: 33%;
    h2 {
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
    p {
      font-size: 17px;
    }
  }
  .contacts {
    width: 33%;
    h2 {
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
    div {
      font-size: 17px;
    }
    .email {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .telephone {
      margin-top: 4px;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .location {
      margin-top: 4px;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .socials {
      margin-top: 8px;
      font-size: 18px;
      display: flex;
      gap: 1rem;
    }
  }
}

// current page

.current-page {
  color: $nav-color;
}

// Academics page

#acad-background {
  margin-top: 2.5rem;
  .pictures-acad {
    width: 100%;
    height: 30rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
#acad-details {
  margin-top: 3rem;
  .acad-details {
    margin: 3rem;
    h1 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 40px;
      margin-bottom: 2rem;
    }
    p {
      font-size: 19px;
      line-height: 1.5;
    }
  }
}

#boxes {
  margin: 5rem;
  .junior-boxes {
    display: flex;
    flex-wrap: wrap;
    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-transform: capitalize;
      margin: 1rem;
      padding: 5rem;
      width: 20rem;
      height: 18rem;
      i {
        font-size: 25px;
        margin-bottom: 1rem;
      }
    }
    .box1,
    .box6 {
      @include set-background($secondary-color);
    }
    .box2,
    .box4 {
      @include set-background($nav-color);
    }
    .box3,
    .box5 {
      @include set-background(#deb887);
    }
    .line {
      width: 2rem;
      margin-top: 10px;
      border: 1px solid;
    }
  }
}

#electives {
  margin-top: 5rem;
  .electives {
    margin: 2rem;
    h1 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 40px;
      color: $secondary-color;
    }
    .elective-groups {
      @include set-background(#113821);
      margin: 2rem 70% 0 0;
      padding: 8rem 2rem;
      position: relative;
      h2 {
        margin-bottom: 2rem;
        color: $nav-color;
        font-size: 30px;
      }
      p {
        margin: 5px;
      }
      .elective-line {
        border: 2px solid;
        position: absolute;
        top: 95%;
        left: 5%;
        width: 90%;
      }
    }
  }
}

//about page
#about-message {
  display: flex;
  .about-msg-1 {
    @include set-background($secondary-color);
    padding: 2rem 5rem;
    width: 60%;
    .principal-message {
      color: #000000;
      h1 {
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 10px;
      }
      p {
        font-size: 17px;
        margin-bottom: 10px;
        font-style: italic;
      }
      h2 {
        font-size: 30px;
      }
    }
    .welcome-msg {
      margin: 13px 0px;
      font-size: 20px;
    }
    .about-list {
      font-size: 20px;
      ul {
        margin-top: 20px;
        li {
          margin-top: 15px;
        }
      }
    }
  }
  .about-msg-2 {
    @include set-background(#000000);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
  }
}
#free-section {
  height: 4rem;
  .free-section {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
}

#entrance-notice {
  margin: 4rem 2rem;
  .entrance-notice {
    text-align: center;
    h1 {
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 900;
    }
    p {
      margin-top: 0.5rem;
      color: $nav-color;
      font-size: 17px;
      font-weight: 600;
    }
  }
}
//admission page
#admission-timeline {
  .admission-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      text-transform: capitalize;
      font-size: 30px;
      font-weight: 900;
    }
    .timeline-col {
      display: flex;
      min-height: max-content;
      margin: 2rem;
      &1 {
        border: 2px solid $secondary-color;
        display: flex;
        flex-direction: column;
        width: 33%;
        p {
          padding: 45px;
          height: 50px;
          max-height: 50px;
          font-size: 20px;
        }
      }
      &2 {
        border: 2px solid $secondary-color;
        display: flex;
        flex-direction: column;
        width: 33%;
        p {
          padding: 45px;
          height: 50px;
          max-height: 50px;
          font-size: 20px;
        }
      }
      &3 {
        border: 2px solid $secondary-color;
        display: flex;
        flex-direction: column;
        width: 33%;
        p {
          padding: 45px;
          height: 50px;
          max-height: 50px;
          font-size: 20px;
        }
      }
    }
  }
  .timeline-nb {
    font-size: 17px;
    span {
      font-style: italic;
      font-weight: 700;
    }
  }
}

#general-info {
  margin: 4rem 2rem;
  .general-info {
    h1 {
      font-size: 38px;
      font-weight: 900;
      color: $nav-color;
    }
    p {
      font-size: 18px;
      line-height: 1.7;
    }
  }
}

#exam-schedule {
  margin: 4rem 2rem;
  .exam-schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      text-transform: capitalize;
      text-transform: capitalize;
      font-size: 30px;
      font-weight: 900;
      margin-bottom: 1rem;
    }
    .tab-col {
      margin-top: 0.1rem;
      border: 2px solid $secondary-color;
      display: flex;
      width: 50%;
      padding: 15px;
      font-size: 18px;
      p:first-child {
        min-width: 30%;
      }
    }
  }
  .reg {
    width: 15rem;
    padding: 0 30px;
    margin: 2rem auto;
    a {
      width: 100%;
      padding: 15px;
      border: none;
      border-radius: 15px;
      @include set-background($nav-color);
    }
    a:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

// For tabs/ipads

@media only screen and (max-width: 900px) {
  #menu_icon {
    display: block;
  }

  .pictures {
    width: 100%;
    height: 500px;
  }

  .nav-links {
    position: fixed;
    top: 4.65rem;
    left: -100%;
    flex-direction: column;
    background-color: $secondary-color;
    width: 100%;
    height: 100%;

    ul {
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;
    }
  }
  .show {
    left: 0;
  }
  // Home
  .cards {
    flex-direction: column;
    margin: 1rem;
    top: -3rem;
    position: relative;
    &-1,
    &-2,
    &-3 {
      width: 100%;
      height: 500px;
    }
  }

  // home page(feature-story section)
  .feature-story {
    height: 45rem;
    .feature-img {
      margin: 1rem;
      height: 86%;
    }
  }

  // Home page (Upcoming event section)
  .upcoming-events {
    flex-direction: column;
    div {
      border: 1px solid;
      width: 100%;
      padding: 1rem;
      p {
        margin-top: 1rem;
      }
      h2 {
        color: #000;
      }
    }
  }
  // Home page (Our mission section)
  #mission {
    .mission-img {
      height: 36rem;
    }
    .mission {
      font-size: 20px;
      h3 {
        margin: 0.5rem;
      }
      p {
        padding: 1rem;
        border: 2px solid;
      }
    }
  }

  // Home page (history, fact and vision)

  #hist-fact {
    .hist-fact {
      display: flex;
      flex-direction: column;
    }
    .hist,
    .facts,
    .vision {
      margin: 0.5rem;
    }
  }
  //Admission page
  #admission-timeline {
    .admission-timeline {
      .timeline-col {
        // This is for the table
        flex-direction: column;
        border: 2px solid $secondary-color;
        &1 {
          border: none;
          border-bottom: 2px solid $secondary-color;
          width: 100%;
          padding-bottom: 1rem;
        }
        &2 {
          border: none;
          border-bottom: 2px solid $secondary-color;
          width: 100%;
          padding-bottom: 1rem;
        }
        &3 {
          border: none;
          padding-bottom: 2.3rem;
          width: 100%;
        }
      }
    }
    .timeline-nb {
      margin: 0 1rem;
    }
  }

  #exam-schedule {
    .exam-schedule {
      .tab-col {
        width: 100%;
        padding: 20px;
      }
    }
  }

  //the about page

  #about-message {
    flex-direction: column;
    .about-msg-1 {
      padding: 2rem;
      width: 100%;
    }
    .about-msg-2 {
      width: 100%;
      padding: 2.5rem;
      font-size: 14px;
    }
  }

  //Academics page

  #acad-details {
    margin-top: 3rem;
    .acad-details {
      margin: 2rem;
      h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 2rem;
      }
      p {
        font-size: 19px;
        line-height: 1.5;
      }
    }
  }
  //----> This are the boxes in Academics page <-----
  #boxes {
    margin: 2rem;
  }

  #electives {
    margin-top: 5rem;
    .electives {
      margin: 2rem;
      h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
        color: $secondary-color;
      }
      .elective-groups {
        margin: 2rem;
        h2 {
          margin-bottom: 0.75rem;
        }
        p {
          padding: 5px 2px;
        }
      }
    }
  }

  // footer
  footer {
    width: 100%;
    flex-direction: column;
    justify-content: center;

    .text-block {
      width: 100%;
    }
    .moto {
      width: 100%;
    }
    .contacts {
      width: 100%;
      .socials {
        margin-top: 1.2rem;
        font-size: 20px;
        display: flex;
        gap: 1.2rem;
      }
    }
  }
}
