@import "config";
@import "utils";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: $light-color;
}
header {
  @include set-background($secondary-color);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
.nav-bar {
  ul {
    display: flex;
    list-style: none;
  }
  li {
    margin-right: 15px;
    text-transform: capitalize;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
.pictures {
  width: 1280px;
  height: 500px;
  overflow: hidden;

  figure {
    width: 500%;
    height: 100%;
    position: relative;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
  }

  img {
    width: 20%;
    height: 100%;
    object-fit: cover;
    float: left;
  }

  @keyframes slider {
    0% {
      left: 0;
    }

    20% {
      left: 0;
    }

    25% {
      left: -100%;
    }

    45% {
      left: -100%;
    }

    50% {
      left: -200%;
    }

    70% {
      left: -200%;
    }

    75% {
      left: -300%;
    }

    95% {
      left: -300%;
    }

    100% {
      left: -400%;
    }
  }
}

.cards {
  display: flex;
  &-1,
  &-2,
  &-3 {
    width: 40%;
    height: 500px;
  }
  &-header,
  &-header-2 {
    @include set-background($secondary-color);
    text-align: center;
    padding: 25px;
  }
  &-header-2 {
    background-color: darken($secondary-color, 5%);
  }

  &-img {
    width: 100%;
    height: 250px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content {
    padding: 20px 15px 20px 0;
    line-height: 1.3;
    font-size: 17px;
  }
}

.feature-story {
  width: 90%;
  font-size: 20px;
  &:hover {
    background-color: lighten($secondary-color, 30%);
  }
  p {
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 2px solid $nav-color;
  }
  .feature-img {
    margin: 30px 200px;
    height: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
